@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  box-sizing: border-box !important;
  overflow-x: hidden;
  background-color: rgb(247, 247, 247);
}

/* ---------- Weather Card ---------- */

.weather-card {
  max-width: 160px;
  max-height: 256px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 14px 28px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px;
}

/* ---------- Location Selection ---------- */

.location-selection {
  width: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 14px 28px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px;
}

.location-selection .list-group-item:hover {
  cursor: pointer;
  background-color: rgb(244, 244, 244);
}

.location-selection .active {
  cursor: pointer;
  border: none !important;
  background-color: var(--bs-dark) !important;
}

.location-selection .active:hover {
  cursor: pointer !important;
  background-color: var(--bs-dark) !important;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* ---------- Auxiliary ---------- */

.btn-circular {
  border-radius: 50% !important;
}

.btn-small {
  width: 30px;
  height: 30px;
}

.btn-medium {
  width: 40px;
  height: 40px;
}

/* ---------- Media Queries ---------- */

@media (max-width: 660px) {
  .location-section {
    max-width: 560px;
  }
}

@media (max-width: 465px) {
  .location-section {
    max-width: 360px;
  }
}

@media (max-width: 400px) {
  .weather-card {
    max-width: 140px;
    max-height: 240px;
  }

  .weather-card img {
    max-width: 80px !important;
  }
}
